:root{
  --primary-color: #0e0c0c;
  --secondary-color: #a2b9bd;
  --ternary-color: #66635B;
  
}

header{
  background-image:url('./assets/images/header.jpg')
}
body{
  background-color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.name{
  color: white;
}

.title{
  color: white;
  text-decoration: underline;
  display: flex;
}

.information-box{
  background-color: var(--secondary-color);
  border: solid;
  
}

.card-title{
 font-weight: bold;
}

.budget-tracker {
  background-image: url("./assets/images/budget.png")
}
