:root{
  --primary-color: #0e0c0c;
  --secondary-color: #a2b9bd;
  --ternary-color: #8b897f;
  
}

header{
  background-image:url('./assets/images/port_header.jpeg');
  background-size:cover;
}
body{
  background-color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.name{
  color: white;
}

.title{
  color: white;
  text-decoration: underline;
  display: flex;
}

.information-box{
  background-color: var(--ternary-color);
  border: solid;
}

.card-title{
 font-weight: bold;
}

.footer {
  border-style: solid;
  justify-content: space-between;
  text-align: center;
  background-color: white;
  text-align: center;
  width: 100%;
  
}

.para {
  padding: 20px;
}
a{
  color: black;
}

.contact-button {
  background-color: rgb(94, 15, 15);
  color: white;
}
